
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('cinema.jpg')%>);">
  <div class="container">
    <h1>Your favourite movies, <strong> catagorized</strong>!</h1>
    <p>A fucking terrible way of creating a watch list.</p>
    <%= link_to "Create a new list", new_list_path, class:"btn btn-outline-success" %>
  </div>
</div>


<div class="cards-wrapper">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1610308479130-5141d71ba6e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1767&q=80" alt="">
    <div class="card-body">
      <%= link_to list.name, list_path(list), class:"btn btn-success" %>
    </div>
  </div>
    <% end %>
  </div>
</div>
