
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('cinema.jpg')%>);">
  <div class="container">
    <h1>Your favourite movies, <strong> catagorized</strong>!</h1>
    <p>A fucking terrible way of creating a watch list.</p>
    <%= link_to "Create a new list", new_list_path, class:"btn btn-outline-success" %>
  </div>
</div>


<div class="cards-wrapper">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card" style="width: 18rem;">
      <%= cl_image_tag list.photo.key, class:"card-img-top" %>
    <div class="card-body">
      <%= link_to list.name, list_path(list), class:"btn btn-success" %>
    </div>
  </div>
    <% end %>
  </div>
</div>
