<div class="container mt-5">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-success"%>
  <% end %>
  <br>
  <%= link_to "Back home", lists_path, class:"btn btn-outline-warning" %>
</div>
