<h1><%= @list.name %></h1>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>

<ul>
<% @list.bookmarks.each do | bookmark | %>
<li> <%= bookmark.movie.title %> </li>
<%= link_to "Delete",
                  bookmark_path(bookmark),
                  method: :delete,
                  data: { confirm: "Are you sure?" }%>
<% end %>
</ul>
